<header>
        <h1>site web streaming</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto dignis
            simos dicta debitis veniam necessitatibus cum recusandae molestiae odio fuga
            earum inventore illum impedit quos sit eveniet ea enim, unde deleniti.
        </p>
        <!--le navbar de la page-->
        <nav>
            <ul>
                <li>acceuil</li>
                <li>films</li>
                <li>API films</li>
            </ul>
        </nav>
        <!------>
    </header>